[project]
	description = CaWaL personal page
[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/CaWaL (cawal)
[access "refs/for/refs/*"]
	read = group user/CaWaL (cawal)
	push = group user/CaWaL (cawal)
	label-Code-Review = -2..+2 group user/CaWaL (cawal)
	label-Verified = -1..+1 group user/CaWaL (cawal)
	rebase = group user/CaWaL (cawal)
	removeReviewer = group user/CaWaL (cawal)
	submit = group user/CaWaL (cawal)
[access "refs/heads/*"]
	read = group user/CaWaL (cawal)
	create = group user/CaWaL (cawal)
	push = +force group user/CaWaL (cawal)
	pushMerge = group user/CaWaL (cawal)
[access "refs/tags/*"]
	push = group user/CaWaL (cawal)
	push = +force group user/CaWaL (cawal)
