<footer class="site-footer">
  <div class="wrapper site-footer-inner">
    <div>
      <p class="footer-heading">{{ site.title }}</p>
      <p class="footer-copy">{{ site.name }}</p>
      <p class="footer-copy">{{ site.description | strip }}</p>
    </div>

    <div class="footer-meta">
      <ul class="social-media-list">
        {% if site.github_username %}
        <li>
          {% include icon-github.html username=site.github_username %}
        </li>
        {% endif %}

        {% if site.twitter_username %}
        <li>
          {% include icon-twitter.html username=site.twitter_username %}
        </li>
        {% endif %}
      </ul>

      <a class="footer-glider" href="http://www.catb.org/~esr/faqs/hacker-howto.html#attitude" target="_blank" rel="noreferrer">
        <img src="/assets/glider.png" alt="Hacker attitude reference" />
      </a>
    </div>
  </div>
</footer>
